apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: "house-price-mlops"
        metrics_path: /metrics
        static_configs:
          - targets:
              - house-price-mlops-service.default.svc.cluster.local
